# Логи
*.log

# Системные файлы
desktop.ini
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Временные
*.tmp
*.bak

# Зависимости
node_modules/
.scripts/node_modules/

# Ключи
.scripts/.env.local
*.key
*.env
neiro-token.js